body, html{
    background-color: hsl(240, 78%, 98%);
    font-family: 'Montserrat', sans-serif;
    background-image: url("./images/bg-top.svg"), url("./images/bg-bottom.svg");
    background-repeat: no-repeat;
    background-position: right top, left bottom;
    background-size: 350px 700px, 300px 200px;
    margin:0;
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
}

h1{
    padding-top:45px;
    text-align: center;
    font-size: 25px;
    color: hsl(233, 13%, 49%);
}

/*  <------------- Slider --------------> */

.toggle{
    text-align: center;
    margin-top: 35px;
}
.toggle > p{
    display: inline-flex;
    color: hsl(234, 14%, 74%);
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: hsl(236, 72%, 79%);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: hsl(236, 72%, 79%);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px hsl(236, 72%, 79%);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  /*  <----------- Container ------------> */

  .container{
      display:flex;
      max-width: 1050px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin:auto;
      margin-top:60px;
      margin-bottom:20px;
  }

  .itemBasic{
      max-width:350px;
      min-width: 350px;
      flex:1;
      height:450px;
      background-color: white;
      color:hsl(232, 13%, 33%);
      text-align: center;
      border-radius: 10px 10px 10px 10px;
      box-shadow:0 0.3rem 1rem rgba(0,0,0,0.2);
  }
  .itemProfessional{
    max-width:350px;
    min-width: 350px;
    flex:1;
    height: 500px;
    background-image:linear-gradient(to right ,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color:white;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow:0 0.3rem 1rem rgba(0,0,0,0.2);
  }
  .itemMaster{
    max-width:350px;
    min-width: 350px;
    flex:1;
    height:450px;
    background-color: white;
    color:hsl(232, 13%, 33%);
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    box-shadow:0 0.3rem 1rem rgba(0,0,0,0.2);
  }
/* ---------------- Card Classes -----------*/
  h2{
      font-size: 50px;
  }
  .storage, .users, .storage, .send {
    border-top: 0.5px solid  hsl(234, 14%, 74%);
    width:300px;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
  }
  .send{
    border-bottom: 0.5px solid  hsl(234, 14%, 74%);
  }
  .storage2, .users2, .storage2, .send2 {
    border-top: 0.5px solid  white;
    width:300px;
    margin: auto;
    padding-top:20px;
    padding-bottom:20px;
  }
  .send2{
    border-bottom: 0.5px solid  white;
  }
  .title{
    margin-top: 35px;
    margin-bottom:-20px;
  }
  .cost{
    margin-bottom: 30px;
  }
  .cost2{
    margin-bottom: 30px;
  }
  .buttonWhite{
      width:290px;
      height:40px;
      background-color: white;
      border:none;
      border-radius: 5px;
      color: hsl(237, 63%, 64%);
      margin:auto;
      margin-top:30px;
      font-size: 15px;
      font-family: 'Montserrat', sans-serif;
  }
  .buttonPurple{
    width:290px;
    height:40px;
    background-image:linear-gradient(to right ,hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    border-radius: 5px;
    border:none;
    color: white;
    margin:auto;
    margin-top:30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 375px){	
    .itemBasic, .itemProfessional, .itemMaster{	
      margin-top:25px;
    }
}